@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
}

body{
    background: linear-gradient(-150deg, black, gray);
    background-repeat: no-repeat;
    min-height: 100vh;
}

img{
    
    width: 20%;
    border-radius: 15em;
    align-items: center;
    margin: auto;
    margin-right: 30em;
    margin-top: 5em;
}

h1{
    color: white;
    font-family: "Cookie", cursive;
}

.comeco{
    padding-top: 2em;
}

.comeco, h1{
    text-align: center;
}

#titulo{
    padding-bottom: 30px;
    font-size: 5em;
    letter-spacing: 10px;

}

#bbb{
    border-radius: 8%;
}

p, li{
    text-align: center;
}