@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
}

body{
    background: linear-gradient(-150deg, black, rgb(81, 82, 113), rgb(88, 132, 235));
    background-repeat: no-repeat;
    min-height: 100vh;
}

img{
    
    width: 15%;
    border-radius: 15em;
    align-items: center;
    margin: auto;
    margin-right: 30em;
    margin-top: 5em;
    margin-left: 30em;
}

h1{
    color: white;
    font-family: "Cookie", cursive;
}

.comeco{
    padding-top: 2em;
}

.comeco, h1{
    text-align: center;
}

#titulo{
    padding-bottom: 30px;
    font-size: 5em;
    letter-spacing: 10px;

}

#bbb{
    border-radius: 8%;
}

.descricao{
    font-size: 30px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

#entre{
    font-size: 45px;
    margin-left: 12em;
    text-decoration: none;
    color: yellow;
}

#entre:hover{
    color: red;
}